html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Architects Daughter', cursive;
}
body{
    background: #c1c1c1;
    background: -webkit-linear-gradient(#c1c1c1, white, #c1c1c1);
    background: -o-linear-gradient(#c1c1c1, white, #c1c1c1);
    background: -moz-linear-gradient(#c1c1c1, white, #c1c1c1);
    background: linear-gradient(#c1c1c1, white, #c1c1c1);
}
@media (max-width: 500px){
    #all{
        height: 100%;
        width: 100%;
        min-width: 365px;
    }
 
@media (max-width: 450px){
    #all{
        right: 60px;
        bottom: 15px;
        font-size: 10px;
    }
}